@font-face {
  font-family: "Roboto Mono";
  font-style: bold;
  font-weight: 700;
}

@font-face { 
  font-family: 'Libre Bodoni', serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Libre_Bodoni/static/LibreBodoni-Italic.ttf) format("truetype");
  font-family: 'Libre Bodoni Italic';
  font-style: italic;
}