@font-face {
  src: url(../fonts/Libre_Bodoni/LibreBodoni-VariableFont_wght.ttf) format("truetype");
  font-family: 'Libre Bodoni';
  font-style: normal;
}

@font-face {
  src: url(../fonts/Libre_Bodoni/LibreBodoni-Italic-VariableFont_wght.ttf) format("truetype");
  font-family: 'Libre Bodoni Italic';
  font-style: italic;
}

@font-face {
  src: url(../fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf) format("truetype");
  font-family: 'Source Sans 3';
  font-style: normal;
}

/* italic */
@font-face {
  src: url(../fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf) format("truetype");
  font-family: 'Source Sans 3 Italic';
  font-style: italic;
}
