html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(217,217,217,1) 0%, rgb(255 255 255) 100%);
  color: var(--text);
}

.tooltip-box {
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 10px;
}